In [13]:
import numpy as np
import pandas as pd
import numpy.random as npr

In [22]:
npr.seed(888)
s1=pd.DataFrame(npr.randint(1,7,3*7).reshape(3,7),index=['1seria','2seria','3seria'],columns=[1,2,3,4,5,6,7])

s1

        1  2  3  4  5  6  7
1seria  3  6  4  2  5  6  2
2seria  1  6  5  1  2  4  1
3seria  3  4  3  3  4  5  2

In [53]:
s1.apply(pd.value_counts,axis=1)

          1    2    3    4    5    6
1seria  NaN  2.0  1.0  1.0  1.0  2.0
2seria  3.0  1.0  NaN  1.0  1.0  1.0
3seria  NaN  1.0  3.0  2.0  1.0  NaN

In [55]:
series1=s1.iloc[0,:]
type(series1)
series1

1    3
2    6
3    4
4    2
5    5
6    6
7    2
Name: 1seria, dtype: int32

In [56]:
s1.values.flatten()

array([3, 6, 4, 2, 5, 6, 2, 1, 6, 5, 1, 2, 4, 1, 3, 4, 3, 3, 4, 5, 2])