In [1]:
import numpy as np
import pandas as pd

In [3]:
winter1 = pd.read_csv('winter.csv')
winter1.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [4]:
winter = winter1[winter1['Year']==1976]

In [5]:
men = np.array(winter[winter['Gender']=='Men']['Discipline'].unique())
men

array(['Biathlon', 'Bobsleigh', 'Ice Hockey', 'Luge', 'Figure skating',
       'Speed skating', 'Alpine Skiing', 'Cross Country Skiing',
       'Nordic Combined', 'Ski Jumping'], dtype=object)

In [6]:
women = np.array(winter[winter['Gender']=='Women']['Discipline'].unique())
women

array(['Luge', 'Figure skating', 'Speed skating', 'Alpine Skiing',
       'Cross Country Skiing'], dtype=object)

In [7]:
#Дисциплины, в которых разыгравались только мужские комплекты наград
np.setdiff1d(men,women)

array(['Biathlon', 'Bobsleigh', 'Ice Hockey', 'Nordic Combined',
       'Ski Jumping'], dtype=object)

In [8]:
year = (1936,1994)
winter1[winter1['Year'].isin(year)]['Sport'].unique().size

6

In [9]:
winter1[winter1['Year']==1936]['Sport'].unique().size

4

In [10]:
winter1[winter1['Year']==1994]['Sport'].unique().size

6

In [11]:
old = winter1[winter1['Year']==1936]['Sport'].unique()
old

array(['Bobsleigh', 'Ice Hockey', 'Skating', 'Skiing'], dtype=object)

In [12]:
new = winter1[winter1['Year']==1994]['Sport'].unique()
new

array(['Biathlon', 'Bobsleigh', 'Ice Hockey', 'Luge', 'Skating', 'Skiing'],
      dtype=object)

In [13]:
#Общие виды спорта
np.intersect1d(old,new)

array(['Bobsleigh', 'Ice Hockey', 'Skating', 'Skiing'], dtype=object)

In [14]:
#Какие были в 1994 и не были в 1936
np.setdiff1d(new,old)

array(['Biathlon', 'Luge'], dtype=object)

In [15]:
#Когда появился биатлон
winter2 = winter1[winter1['Year']>1936]
winter2[winter2['Sport']=='Biathlon'].head(1)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
857,1960,Squaw Valley,Biathlon,Biathlon,"PRIVALOV, Aleksandr",URS,Men,20KM,Bronze

In [23]:
#Общее кол-во медалей за все годы мужчинами и женщинами
men = winter1[winter1['Gender']=='Men'].groupby('Medal').count()
men

        Year  City  Sport  Discipline  Athlete  Country  Gender  Event
Medal
Bronze  1315  1315   1315        1315     1315     1315    1315   1315
Gold    1310  1310   1310        1310     1310     1310    1310   1310
Silver  1319  1319   1319        1319     1319     1319    1319   1319

In [24]:
women = winter1[winter1['Gender']=='Women'].groupby('Medal').count()
women

        Year  City  Sport  Discipline  Athlete  Country  Gender  Event
Medal
Bronze   604   604    604         604      604      604     604    604
Gold     611   611    611         611      611      611     611    611
Silver   611   611    611         611      611      611     611    611

In [27]:
medals_women=pd.DataFrame(women['Year'])
medals_women=medals_women.rename(columns={'Year': 'Women'})
medals_women

        Women
Medal
Bronze    604
Gold      611
Silver    611

In [28]:
medals_men=pd.DataFrame(men['Year'])
medals_men=medals_men.rename(columns={'Year': 'Men'})
medals_men

         Men
Medal
Bronze  1315
Gold    1310
Silver  1319

In [33]:
all_medals = pd.concat([medals_men, medals_women], axis=1, join='inner')
all_medals

         Men  Women
Medal
Bronze  1315    604
Gold    1310    611
Silver  1319    611

In [56]:
winter4 = winter1[(winter1['Year']>1949) & (winter1['Year']<1986)] 
win= winter4.reset_index()
win

,index,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,571,1952,Oslo,Bobsleigh,Bobsleigh,"FEIERABEND, Fritz",SUI,Men,Four-Man,Bronze
1,572,1952,Oslo,Bobsleigh,Bobsleigh,"FILIPPINI, André",SUI,Men,Four-Man,Bronze
2,573,1952,Oslo,Bobsleigh,Bobsleigh,"MADÖRIN, Albert",SUI,Men,Four-Man,Bronze
3,574,1952,Oslo,Bobsleigh,Bobsleigh,"WASER, Stephan",SUI,Men,Four-Man,Bronze
4,575,1952,Oslo,Bobsleigh,Bobsleigh,"KEMSER, Franz",FRG,Men,Four-Man,Gold
5,576,1952,Oslo,Bobsleigh,Bobsleigh,"KUHN, Friedrich",FRG,Men,Four-Man,Gold
6,577,1952,Oslo,Bobsleigh,Bobsleigh,"NIEBERL, Lorenz",FRG,Men,Four-Man,Gold
7,578,1952,Oslo,Bobsleigh,Bobsleigh,"OSTLER, Andreas",FRG,Men,Four-Man,Gold
8,579,1952,Oslo,Bobsleigh,Bobsleigh,"ATKINSON, James Neil",USA,Men,Four-Man,Silver
9,580,1952,Oslo,Bobsleigh,Bobsleigh,"BENHAM, Stanley Delong",USA,Men,Four-Man,Silver
10,581,1952,Oslo,Bobsleigh,Bobsleigh,"CROSSETT, Howard Wallace",USA,Men,Four-Man,Silver
11,582,1952,Oslo,Bobsleigh,Bobsleigh,"MARTIN, Patrick Henry",USA,Men,Four-Man,Silver
12,583,1952,Oslo,Bobsleigh,Bobsleigh,"FEIERABEND, Fritz",SUI,Men,Two-Man,Bronze
13,584,1952,Oslo,Bobsleigh,Bobsleigh,"WASER, Stephan",SUI,Men,Two-Man,Bronze
14,585,1952,Oslo,Bobsleigh,Bobsleigh,"NIEBERL, Lorenz",FRG,Men,Two-Man,Gold
15,586,1952,Oslo,Bobsleigh,Bobsleigh,"OSTLER, Andreas",FRG,Men,Two-Man,Gold
16,587,1952,Oslo,Bobsleigh,Bobsleigh,"BENHAM, Stanley Delong",USA,Men,Two-Man,Silver
17,588,1952,Oslo,Bobsleigh,Bobsleigh,"MARTIN, Patrick Henry",USA,Men,Two-Man,Silver
18,589,1952,Oslo,Ice Hockey,Ice Hockey,"ALMQVIST, Göte",SWE,Men,Ice Hockey,Bronze
19,590,1952,Oslo,Ice Hockey,Ice Hockey,"ANDERSSON, Ake",SWE,Men,Ice Hockey,Bronze
20,591,1952,Oslo,Ice Hockey,Ice Hockey,"ANDERSSON-TVILLING, Hans Lennart",SWE,Men,Ice Hockey,Bronze
21,592,1952,Oslo,Ice Hockey,Ice Hockey,"ANDERSSON-TVILLING, Stig Gunnar",SWE,Men,Ice Hockey,Bronze
22,593,1952,Oslo,Ice Hockey,Ice Hockey,"BJÖRN, Lars Gunnar",SWE,Men,Ice Hockey,Bronze
23,594,1952,Oslo,Ice Hockey,Ice Hockey,"BLOMQVIST, GÃ¶te",SWE,Men,Ice Hockey,Bronze
24,595,1952,Oslo,Ice Hockey,Ice Hockey,"FLODQVIST, Thord",SWE,Men,Ice Hockey,Bronze
25,596,1952,Oslo,Ice Hockey,Ice Hockey,"JOHANSSON, Erik",SWE,Men,Ice Hockey,Bronze
26,597,1952,Oslo,Ice Hockey,Ice Hockey,"JOHANSSON, Gösta",SWE,Men,Ice Hockey,Bronze
27,598,1952,Oslo,Ice Hockey,Ice Hockey,"JOHANSSON, Rune",SWE,Men,Ice Hockey,Bronze
28,599,1952,Oslo,Ice Hockey,Ice Hockey,"JOHANSSON-TUMBA, Sven Olof",SWE,Men,Ice Hockey,Bronze
29,600,1952,Oslo,Ice Hockey,Ice Hockey,"LASSAS, Erik Ake",SWE,Men,Ice Hockey,Bronze
...,...,...,...,...,...,...,...,...,...,...
1637,2208,1984,Sarajevo,Skiing,Cross Country Skiing,"NIKITINE, Vladimir",URS,Men,4X10KM Relay,Silver
1638,2209,1984,Sarajevo,Skiing,Cross Country Skiing,"ZAVYALOV, Aleksandr",URS,Men,4X10KM Relay,Silver
1639,2210,1984,Sarajevo,Skiing,Cross Country Skiing,"ZIMYATOV, Nikolay",URS,Men,4X10KM Relay,Silver
1640,2211,1984,Sarajevo,Skiing,Cross Country Skiing,"HYYTIAINEN, Eija",FIN,Women,4X5KM Relay,Bronze
1641,2212,1984,Sarajevo,Skiing,Cross Country Skiing,"KIRVESNIEMI, Marja-Liisa",FIN,Women,4X5KM Relay,Bronze
1642,2213,1984,Sarajevo,Skiing,Cross Country Skiing,"MÄÄTTÄ, Pirkko",FIN,Women,4X5KM Relay,Bronze
1643,2214,1984,Sarajevo,Skiing,Cross Country Skiing,"MATIKAINEN, Marjo",FIN,Women,4X5KM Relay,Bronze
1644,2215,1984,Sarajevo,Skiing,Cross Country Skiing,"AUNLI, Berit",NOR,Women,4X5KM Relay,Gold
1645,2216,1984,Sarajevo,Skiing,Cross Country Skiing,"JAHREN, Anne",NOR,Women,4X5KM Relay,Gold
1646,2217,1984,Sarajevo,Skiing,Cross Country Skiing,"NYBRAATEN, Inger Helene",NOR,Women,4X5KM Relay,Gold
1647,2218,1984,Sarajevo,Skiing,Cross Country Skiing,"PETTERSEN, Brit",NOR,Women,4X5KM Relay,Gold
1648,2219,1984,Sarajevo,Skiing,Cross Country Skiing,"JERIOVA, Kvetoslava",TCH,Women,4X5KM Relay,Silver
1649,2220,1984,Sarajevo,Skiing,Cross Country Skiing,"PAULU, Blanka",TCH,Women,4X5KM Relay,Silver
1650,2221,1984,Sarajevo,Skiing,Cross Country Skiing,"SCHVUBOVA, Dagmar",TCH,Women,4X5KM Relay,Silver
1651,2222,1984,Sarajevo,Skiing,Cross Country Skiing,"SVOBODOVA, Gabriela",TCH,Women,4X5KM Relay,Silver
1652,2223,1984,Sarajevo,Skiing,Cross Country Skiing,"KARVONEN, Aki",FIN,Men,50KM,Bronze
1653,2224,1984,Sarajevo,Skiing,Cross Country Skiing,"WASSBERG, Thomas",SWE,Men,50KM,Gold
1654,2225,1984,Sarajevo,Skiing,Cross Country Skiing,"SVAN, Gunde Anders",SWE,Men,50KM,Silver
1655,2226,1984,Sarajevo,Skiing,Cross Country Skiing,"JERIOVA, Kvetoslava",TCH,Women,5KM,Bronze
1656,2227,1984,Sarajevo,Skiing,Cross Country Skiing,"KIRVESNIEMI, Marja-Liisa",FIN,Women,5KM,Gold
1657,2228,1984,Sarajevo,Skiing,Cross Country Skiing,"AUNLI, Berit",NOR,Women,5KM,Silver
1658,2229,1984,Sarajevo,Skiing,Nordic Combined,"YLIPULLI, Jukka",FIN,Men,Individual,Bronze
1659,2230,1984,Sarajevo,Skiing,Nordic Combined,"SANDBERG, Tom",NOR,Men,Individual,Gold
1660,2231,1984,Sarajevo,Skiing,Nordic Combined,"KARJALAINEN, Jouko",FIN,Men,Individual,Silver
1661,2232,1984,Sarajevo,Skiing,Ski Jumping,"PLOC, Pavel",TCH,Men,K120 Individual (90M),Bronze
1662,2233,1984,Sarajevo,Skiing,Ski Jumping,"NYKANEN, Matti",FIN,Men,K120 Individual (90M),Gold
1663,2234,1984,Sarajevo,Skiing,Ski Jumping,"WEISSFLOG, Jens",GDR,Men,K120 Individual (90M),Silver
1664,2235,1984,Sarajevo,Skiing,Ski Jumping,"PUIKKONEN, Jari",FIN,Men,K90 Individual (70M),Bronze
1665,2236,1984,Sarajevo,Skiing,Ski Jumping,"WEISSFLOG, Jens",GDR,Men,K90 Individual (70M),Gold
1666,2237,1984,Sarajevo,Skiing,Ski Jumping,"NYKANEN, Matti",FIN,Men,K90 Individual (70M),Silver